<% layout('layouts/boilerplate') %>
    <link href="/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/plugins/editors/quill/quill.snow.css">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content mt-5 pt-3">
        <div class="container">
            <div class="container">

                <div id="basic" class="row layout-spacing layout-top-spacing">
                    <div class="col-lg-12">
                        <div class="statbox widget box box-shadow rounded-0">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4> Write complaint </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area rounded-0" id="test">

                                <div id="editor-container">
                                </div>

                            </div>
                            <form id="theForm" action="/dormitory/student/post-complaint" method="post">
                                <input type="text" name="formattedComplaint" id="complaint" class="d-none">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-success rounded-0" id="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

    <script src="/plugins/editors/quill/quill.js"></script>
    <!-- <script src="/plugins/editors/quill/custom-quill.js"></script> -->
    <script>
        var quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block']
                ]
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'  // or 'bubble'
        });

        //document.getElementById('complaint').value = document.getElementById('editor-container');
        //document.getElementById('test').innerHTML = document.getElementById('complaint').value;
        //console.dir(document.getElementById('complaint').value)

        $(document).ready(function () {
            $("#theform").on("submit", function (evt) {
                evt.stopPropagation();
                evt.preventDefault();
                console.log('helllo');
                var hvalue = $('#editor-container').html();
                $(this).append("<textarea name='content' style='display:none'>" + hvalue + "</textarea>");
            });
        });
        console.log(document.getElementById('theForm'))

    </script>